<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.affereaflaw.notulensi">

    <application
        android:name=".Offline"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".KodeActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".RegisterActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NotulensiViewActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".NotulensiEdit"
            android:windowSoftInputMode="stateHidden"></activity>
    </application>
</manifest>